@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswald/oswaldregular.woff") format("woff"), url("../fonts/oswald/oswaldregular.woff2") format("woff2");
}
@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswald/oswaldmedium.woff") format("woff"), url("../fonts/oswald/oswaldmedium.woff2") format("woff2");
}
@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/lato/Lato-Regular.woff") format("woff"), url("../fonts/lato/Lato-Regular.woff2") format("woff2");
}
img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.page__body {
  margin: 0;
}

.main-header {
  padding: 20px;
}

.main-header__block {
  display: flex;
  justify-content: space-between;
}

.main-nav {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.site-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-list__item {
  text-decoration: none;
}

.site-list__link {
  display: block;
  text-decoration: none;
  color: #000000;
  padding: 22px 0;
}

.promo {
  padding: 20px;
  color: #ffffff;
  background-color: #68b738;
  background-image: url("../img/background/promo-mobile.jpg");
  text-align: center;
}

.promo__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 35px;
}

.promo__text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.promo__button {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding: 7px 44px;
}

.button {
  color: #ffffff;
  background-color: #68b738;
  border: none;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

.button--more {
  color: #444444;
  background-color: #f2f2f2;
}

.target__item {
  padding: 20px;
  background-color: #f2f2f2;
}

.target-card__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.target-card__description {
  color: #444444;
}

.target-card__link {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.works {
  padding: 20px;
}

.works__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.works__list {
  list-style: none;
  color: #444444;
}

.works__item {
  padding-bottom: 26px;
}

.example {
  padding: 20px;
  background-color: #eaeaea;
}

.case__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.case__description {
  color: #444444;
  margin-bottom: 20px;
}

.case__result {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.case__total {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.result__block {
  text-align: center;
}

.result__value {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.result__annotation {
  color: #444444;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  margin: 0;
}

.slider__list {
  padding: 0;
  list-style: none;
}

.slider__button {
  width: 40px;
  height: 40px;
  background: #ffffff;
  border: 2px solid #666666;
  border-radius: 20px;
  cursor: pointer;
}

.contacts {
  padding: 20px;
}

.contacts__invite {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__address {
  color: #444444;
  line-height: 20px;
}

.main-footer {
  padding: 20px;
  background-color: #f2f2f2;
}

.developer__link {
  font-size: 16px;
  line-height: 19px;
  color: #444444;
  text-decoration: none;
}

.page-form {
  padding: 20px;
}

.page-form__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  margin-bottom: 37px;
}

.page-form__description {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 39px;
}

.form__button {
  padding: 10px 80px;
  font-size: 16px;
  line-height: 20px;
  border: none;
  cursor: pointer;
}

.field-group {
  border: none;
  padding: 20px 0;
}

.field-group__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.field-group__item {
  margin-bottom: 14px;
}

.field-group__description {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  margin-right: 13px;
}

.field-group__input {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  padding: 14px 20px;
}

.field-group__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.control {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}

.page-catalog {
  padding: 20px;
}

.page-catalog__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
}

.products__list {
  padding: 0;
  list-style: none;
}

.card {
  padding: 20px 0;
}

.card__link {
  text-decoration: none;
}

.card__subtitle {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
}

.card__description {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin: 0;
  margin-bottom: 10px;
}

.card__button {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 109px;
}

.show-more__subtitle {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.show-more__text {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin: 0;
  margin-bottom: 21px;
}

.show-more__button {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 94px;
}

.additional__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.additional__list {
  padding: 0;
  list-style: none;
}

.card-additional__block {
  line-height: 14px;
  color: #444444;
}

.card-additional__button {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 109px;
}

.card-additional__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.present {
  color: #ffffff;
  background-color: #68b738;
  background-image: url("../../img/background/promo-mobile.jpg");
  font-size: 16px;
  text-align: center;
  line-height: 20px;
}

.present__description {
  padding: 40px 0;
  font-size: 16px;
  line-height: 20px;
}
/*# sourceMappingURL=style.css.map */