@use "../variables.scss";
@use "../mixins.scss";

.additional {
  position: relative;
  padding: 25px 0 0;

  &::before {
    content: "";
    position: absolute;
    height: 2px;
    left: 265px;
    right: 0;
    top: 40px;
    background-color: variables.$color-background;

    @media (min-width: variables.$tablet-width) {
      left: 0;
      top: 80px;
    }
  }

  @media (min-width: variables.$tablet-width) {
    padding-top: 60px;
  }

  @media (min-width: variables.$desktop-width) {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 80px;
  }
}

.additional__present {
  min-height: 289px;
}

.additional__title {
  font-family: variables.$font-title;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: variables.$color-title;
  margin: 0;
  margin-bottom: 36px;
  padding: 0 20px;

  @media (min-width: variables.$tablet-width) {
    width: 345px;
    background-color: variables.$color-title-second;
    font-size: 36px;
    line-height: 36px;
  }
}

.additional__list {
  @include mixins.list-style;
  margin-bottom: 50px;

  @media (min-width: variables.$tablet-width) {
    border: 2px solid variables.$color-background-second;
    border-radius: 3px;
  }

  @media (min-width: variables.$desktop-width) {
    grid-column: 1 / 2;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 0;
    border: none;
    border-top: 2px solid variables.$color-background-second;
    border-bottom: 2px solid variables.$color-background-second;
  }
}

.additional__item {
  margin-bottom: 19px;

  &:not(:last-child) {
    @media (min-width: variables.$tablet-width) {
      padding-bottom: 28px;
      border-bottom: 2px solid variables.$color-background-second;
    }

    @media (min-width: variables.$desktop-width) {
      padding: 0;
      padding-bottom: 15px;
    }
  }

  @media (min-width: variables.$tablet-width) {
    padding: 28px 38px 0;
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0;
    padding: 0;
  }
}

.additional__button {
  margin-bottom: 19px;

  @media (min-width: variables.$desktop-width) {
    margin: 0;
  }
}
