@use "../variables.scss";


.button {
  color: variables.$color-white;
  background-color: variables.$color-background;
  border: none;
  font-family: variables.$font-title;
  text-transform: uppercase;
  text-decoration: none;
}
