@use "../variables.scss";


.button {
  color: variables.$color-white;
  background-color: variables.$color-background;
  border: none;
  font-family: variables.$font-title;
  text-transform: uppercase;
  text-decoration: none;
}

.button--more {
  color: variables.$color-gray-2;
  background-color: variables.$color-gray-1;
}
