@use "../variables.scss";


.button {
  color: variables.$color-title-second;
  background-color: variables.$color-background;
  border: none;
  font-family: variables.$font-title;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;

  &--more {
    color: variables.$color-text;
    background-color: variables.$color-background-second;
  }

  &--choose {
    font-size: 14px;
    line-height: 18px;

    @media (min-width: variables.$tablet-width) {
      font-size: 20px;
      line-height: 20px;
      padding: 17px 10px;
    }
  }

  &:hover {
    background-color: variables.$color-background-hover;
  }

  &:active {
    background-color: variables.$color-background-hover;
    color: variables.$color-title-second-hover;
  }
}
