@use "../variables.scss";

.card-additional {
  @media (min-width: variables.$desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    align-items: center;
  }
}

.card-additional__title {
  font-family: variables.$font-title;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;
}

.card-additional__block {
  display: flex;
  justify-content: space-between;
  line-height: 14px;
  color: variables.$color-text;
  padding: 13px 0 15px;
}

.card-additional__button {
  display: block;
  padding: 10px;
}

.card-additional__quantity {
  margin: 0;
}

.card-additional__price {
  margin: 0;
}
