@use "../variables.scss";

.card-additional {
  @media (min-width: variables.$tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr minmax(40px, auto);
    align-items: center;
  }

  @media (min-width: variables.$desktop-width) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(40px, auto);
    align-items: center;
  }
}

.card-additional__title {
  font-family: variables.$font-title;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: variables.$tablet-width) {
    margin-left: 40px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0;
  }
}

.card-additional__block {
  display: flex;
  justify-content: space-between;
  line-height: 14px;
  color: variables.$color-text;
  padding: 13px 0 15px;

  @media (min-width: variables.$tablet-width) {
    margin-right: 40px;
    font-size: 16px;
    line-height: 20px;
    justify-content: end;
    gap: 50px;
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0;
  }
}

.card-additional__button {
  box-sizing: border-box;
  display: block;
  padding: 10px;

  @media (min-width: variables.$tablet-width) {
    grid-column: 1 / 3;
    width: 244px;
    margin: 0 40px;
  }

  @media (min-width: variables.$desktop-width) {
    grid-column: 3 / 4;
    margin: 0;
    margin-left: auto;
  }
}

.card-additional__quantity {
  margin: 0;

  @media (min-width: variables.$desktop-width) {
    margin-right: auto;
  }
}

.card-additional__price {
  margin: 0;
}
