@use "../variables.scss";

.case {
  padding: 0;

  @media (min-width: variables.$tablet-width) {
    background-color: variables.$color-title-second;
    padding-bottom: 250px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 50%;
    background-color: variables.$color-background-third;
    padding-bottom: 75px;
  }
}


.case__title {
  font-family: variables.$font-title;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: variables.$color-title;
  margin: 40px 0;

  @media (min-width: variables.$tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: variables.$desktop-width) {
    position: relative;
    top: -180px;
  }
}

.case__description {
  color: variables.$color-text;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: variables.$tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 436px;
  }
}

.case__wrapper {
  @media (min-width: variables.$tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: variables.$desktop-width) {
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
  }
}

.case__result {
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 0;
  }
}

.case__total {
  font-family: variables.$font-title;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: variables.$tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 9px;
    font-size: 20px;
  }

  @media (min-width: variables.$desktop-width) {
    flex-direction: row;
    gap: 50px;
  }
}
