@use "../variables.scss";

.control {
  position: relative;
  display: flex;
  align-items: center;
  gap: 14px;
  font-family: variables.$font-title;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: variables.$color-subtitle;

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
    line-height: 30px;
    gap: 20px;
  }
}

.control__radio {
  box-sizing: border-box;
  min-width: 30px;
  height: 30px;
  border: 1px solid variables.$color-control;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    transition: all 0.2s;
    border: 1px solid variables.$color-control-hover;
  }

  @media (min-width: variables.$tablet-width) {
    top: -6px;
    left: -13px;
    min-width: 40px;
    height: 40px;
  }
}

.control__checkbox {
  box-sizing: border-box;
  min-width: 30px;
  height: 30px;
  border: 1px solid variables.$color-control;
  cursor: pointer;

  &:hover {
    transition: all 0.2s;
    border: 1px solid variables.$color-control-hover;
  }

  @media (min-width: variables.$tablet-width) {
    top: 0;
    min-width: 40px;
    height: 40px;
  }
}

.control__input[type="radio"]:checked + .control__radio::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 9px;
  transform: translateY(-50%);
  width: 13px;
  height: 13px;
  background-color: variables.$color-background;
  border-radius: 50%;

  @media (min-width: variables.$tablet-width) {
    width: 18px;
    height: 18px;
    left: 12px;
  }
}

.control__input[type="radio"]:disabled + .control__radio,
.control__input[type="radio"]:disabled:hover + .control__radio {
  border: 1px solid variables.$color-control-hover;
  opacity: 0.3;
}

.control__input[type="checkbox"]:checked + .control__checkbox::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url("./../img/icon-tick.svg");
  background-size: 30px 30px;

  @media (min-width: variables.$tablet-width) {
    top: 50%;
    transform: translateY(-50%);
    left: 6px;
  }
}

.control__input[type="checkbox"]:disabled + .control__checkbox,
.control__input[type="checkbox"]:disabled:hover + .control__checkbox {
  border: 1px solid variables.$color-control-hover;
  opacity: 0.3;
}
