@use "../variables.scss";

.contacts {
  position: relative;
  background-color: variables.$color-title-second;

  &--inner {
    background-color: variables.$color-background-second;
  }
}

.contacts__data {
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;

  &--background {
    background-color: variables.$color-background-second;
  }

  @media (min-width: variables.$tablet-width) {
    padding: 60px 70px;
  }

  @media (min-width: variables.$desktop-width) {
    position: absolute;
    top: 95px;
    box-sizing: border-box;
    width: 565px;
    height: 198px;
    background-color: variables.$color-title-second;
  }
}

.contacts__invite {
  font-family: variables.$font-title;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  width: 50%;

  @media (min-width: variables.$tablet-width) {
    width: 171px;
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  width: 50%;
  color: variables.$color-text;
  line-height: 20px;
  margin: 0;

  @media (min-width: variables.$tablet-width) {
    width: 160px;
    font-size: 16px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.contacts__map {
  display: block;
  border: none;
  width: 100%;
  height: 362px;

  @media (min-width: variables.$tablet-width) {
    height: 400px;
  }
}
