@use "../variables.scss";

.developer {
  padding: 20px 0 30px;
  background-color: variables.$color-background-second;

  @media (min-width: variables.$tablet-width) {
    padding: 0;
    gap: 27px;
  }
}

.developer__link {
  position: relative;
  font-size: 16px;
  line-height: 19px;
  color: variables.$color-text;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 27px;
  padding-right: 54px;

  &::after {
    position: absolute;
    content: "";
    mask-image: url("../img/sprites/stack.svg#icon-developer");
    background-color: variables.$color-border;
    width: 27px;
    height: 34px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  &:hover .developer__image,
  &:focus .developer__image {
    transition: all 0.2s;
    color: variables.$color-background;
  }

  &:active .developer__image {
    transition: all 0.2s;
    color: variables.$color-background;
    opacity: 0.3;
  }

  &:focus {
    outline: none;
  }

  &:focus .social__icon {
    color: variables.$color-background;
  }
}

.developer__image {
  width: 27px;
  height: 34px;
  color: variables.$color-border;
}
