@use "../variables.scss";

.developer {
  padding: 20px 20px 30px;
  background-color: variables.$color-background-second;
  display: flex;
  justify-content: space-between;
}

.developer__link {
  font-size: 16px;
  line-height: 19px;
  color: variables.$color-text;
  text-decoration: none;
}
