@use "../variables.scss";

.example {
  padding: 25px 20px 40px;
  background-color: variables.$color-background-third;

  @media (min-width: variables.$tablet-width) {
    background-image: linear-gradient(variables.$color-title-second 54%, variables.$color-background-third 54%);
    padding: 0;
  }

  @media (min-width: variables.$desktop-width) {
    background-image: none;
  }
}

.example__block {
  @media (min-width: variables.$desktop-width) {
    display: flex;
  }
}

.example__case {
  @media (min-width: variables.$desktop-width) {
    width: 50%;
  }
}

.example__slider {
  @media (min-width: variables.$desktop-width) {
    width: 50%;
  }
}
