@use "../variables.scss";
@use "../mixins.scss";

.field-group {
  padding: 0 20px;
}

.field-group__list {
  @include mixins.list-style;
  margin-bottom: 45px;
  display: grid;

  &--contacts {
    @media (min-width: variables.$desktop-width) {
      margin: 0;
      grid-template-columns: repeat(2, 1fr);
      gap: 80px;
      align-items: center;
    }
  }

  &--additional {
    @media (min-width: variables.$tablet-width) {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: auto;
    }

    @media (min-width: variables.$desktop-width) {
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: auto;
    }
  }
}

.field-group__item {
  display: flex;
  align-items: center;
  margin-bottom: 14px;

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 20px;
  }
}

.field-group__description {
  font-family: variables.$font-title;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  white-space: nowrap;
  color: variables.$color-text;
  margin-right: 13px;
}

.field-group__input {
  font-family: variables.$font-title;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: variables.$color-text;
  padding: 14px 20px;
  width: 100%;

  &--textarea {
    display: block;
    box-sizing: border-box;
    padding: 9px 15px;
    resize: none;
    width: 100%;
    min-height: 150px;
    margin: 0 auto;
  }
}

.field-group__title {
  font-family: variables.$font-title;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: variables.$color-title;
  margin-left: 20px;
  margin-bottom: 35px;

  @media (min-width: variables.$tablet-width) {
    font-size: 36px;
  }
}
