@use "../variables.scss";

.form {
  @media (min-width: variables.$desktop-width) {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 80px;
  }
}

.form__data {
  margin-bottom: 26px;

  @media (min-width: variables.$desktop-width) {
    display: flex;
    gap: 20px;
    height: 200px;
    margin-bottom: 70px;
  }
}

.form__submit {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
  display: grid;

  @media (min-width: variables.$tablet-width) {
    width: 630px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 27px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 100%;
    padding: 0;
    grid-column: 1 / 3;
    gap: 87px;
  }
}

.form__button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 21px;

  @media (min-width: variables.$tablet-width) {
    margin: 0;
    padding: 26px;
    width: 284px;
    font-size: 20px;
    line-height: 0px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 100%;
    padding: 25px;
    font-size: 20px;
    line-height: 0px;
  }
}

.form__field {
  position: relative;
  border: none;
  margin: 0;
  padding: 0;

  &--about {
    @media (min-width: variables.$tablet-width) {
      padding: 0;
      margin-bottom: 50px;
    }

    @media (min-width: variables.$desktop-width) {
      width: 50%;
    }
  }

  &--target {
    border-top: 2px solid variables.$color-background-second;
    border-bottom: 2px solid variables.$color-background-second;
    padding: 20px 0;
    margin-bottom: 7px;

    @media (min-width: variables.$tablet-width) {
      border: none;
      width: 630px;
      margin: 0 auto;
      margin-bottom: 82px;
    }

    @media (min-width: variables.$desktop-width) {
      width: 50%;
      padding: 25px 0;
      min-height: 200px;
      box-sizing: border-box;
    }
  }

  &--data {
    margin-bottom: 11px;

    &::before {
      content: "";
      position: absolute;
      height: 2px;
      left: 220px;
      right: 0;
      top: 16px;
      background-color: variables.$color-background;
      z-index: 1;

      @media (min-width: variables.$tablet-width) {
        left: 0;
        right: 0;
        top: 15px;
      }

      @media (min-width: variables.$desktop-width) {
        left: 0;
        top: 18px;
      }
    }
  }

  &--comment {
    margin-bottom: 6px;

    &::before {
      content: "";
      position: absolute;
      height: 2px;
      left: 160px;
      right: 0;
      top: 15px;
      background-color: variables.$color-background;
      z-index: 1;

      @media (min-width: variables.$tablet-width) {
        left: 0;
        right: 0;
        top: 16px;
      }

      @media (min-width: variables.$desktop-width) {
        left: 0;
        top: 18px;
      }
    }

    @media (min-width: variables.$tablet-width) {
      margin-bottom: 45px;
    }

    @media (min-width: variables.$desktop-width) {
      margin-bottom: 42px;
    }
  }

  &--additional {
    &::before {
      content: "";
      position: absolute;
      height: 2px;
      left: 180px;
      right: 0;
      top: 13px;
      background-color: variables.$color-background;
      z-index: 1;

      @media (min-width: variables.$tablet-width) {
        left: 0;
        right: 0;
        top: 17px;
      }

      @media (min-width: variables.$desktop-width) {
        left: 0;
        top: 18px;
      }
    }
  }
}

.form__remark {
  text-align: center;
  margin: 0;

  @media (min-width: variables.$tablet-width) {
    text-align: left;
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: variables.$desktop-width) {
    // font-size: 16px;
    // line-height: 16px;
  }
}
