@use "../variables.scss";

.form__submit {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.form__button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 21px;
}

.form__field {
  padding: 0;
}

.form__remark {
  margin: 0;
}
