@use "../variables.scss";

.form__submit {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.form__button {
  box-sizing: border-box;
  padding: 10px 78px;
  font-size: 16px;
  line-height: 20px;
  border: none;
  cursor: pointer;
}

.form__field {
  padding: 0;
}
