@use "../variables.scss";


.logo {
  display: flex;
  padding: 10px 20px 20px;

  &--footer {
    justify-content: center;
  }

  @media (min-width: variables.$tablet-width) {
    padding: 0;
  }
}

.logo__image {
  margin-right: 56px;

  @media (min-width: variables.$tablet-width) {
    display: none;
  }
}

.logo__text {
  @media (min-width: variables.$tablet-width) {
    display: none;
  }
}

.logo__tablet {
  display: none;

  @media (min-width: variables.$tablet-width) {
    display: block;
    width: 174px;
    height: 52px;
  }
}
