@use "../variables.scss";


.logo {
  display: flex;
  align-items: center;
  padding: 14px 0 10px 20px;
  transition: all 0.2s;

  &--footer {
    padding: 40px 20px;
    justify-content: center;
  }

  @media (min-width: variables.$tablet-width) {
    padding: 0;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.logo__text {
  width: 128px;
  height: 24px;

  @media (min-width: variables.$tablet-width) {
    width: 142px;
    height: 26px;
  }
}

.logo__image {
  width: 191px;
  height: 37px;

  @media (min-width: variables.$tablet-width) {
    width: 174px;
    height: 51px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 202px;
    height: 59px;
  }

  &--footer {
    padding: 40px 0 25px;

    @media (min-width: variables.$tablet-width) {
      display: block;
    }
  }
}
