@use "../variables.scss";
@use "../mixins.scss";

.main-nav {
  position: relative;
  font-family: variables.$font-title;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.main-nav__list {
  @include mixins.list-style;
  display: none;
  background-color: transparent;

  &--open {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    display: block;
    background-color: variables.$color-title-second;

    @media (min-width: variables.$desktop-width) {
      background-color: transparent;
    }
  }

  @media (min-width: variables.$tablet-width) {
    position: relative;
    display: block;
    min-width: 440px;
  }
}

.main-nav__open {
  display: block;
  position: absolute;
  top: -35px;
  right: 20px;
  height: 1.5px;
  width: 24px;
  background-color: variables.$color-title;
  border: none;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: -8px;
    right: 0;
    height: 1.5px;
    width: 24px;
    background-color: variables.$color-title;
    border: none;
  }

  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: -8px;
    height: 1.5px;
    width: 24px;
    background-color: variables.$color-title;
    border: none;
  }

  @media (min-width: variables.$tablet-width) {
    display: none;
  }
}

.main-nav__close {
  display: block;
  position: absolute;
  top: -40px;
  right: 20px;
  height: 1.5px;
  width: 24px;
  background-color: variables.$color-title;
  border: none;
  transform: rotate(45deg);
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 1.5px;
    width: 24px;
    background-color: variables.$color-title;
    border: none;
    transform: rotate(90deg);
  }

  @media (min-width: variables.$tablet-width) {
    display: none;
  }
}

.main-nav__divider {
  display: block;
  position: absolute;
  top: -40px;
  right: 20px;
  height: 1.5px;
  width: 24px;
  background-color: variables.$color-title;
  border: none;
  transform: rotate(45deg);
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 1.5px;
    width: 24px;
    background-color: variables.$color-title;
    border: none;
    transform: rotate(90deg);
  }

  @media (min-width: variables.$tablet-width) {
    display: none;
  }
}
