@use "../variables.scss";

.main-footer {
  background-color: variables.$color-background-second;
}

.main-footer__wrapper {
  padding: 0 20px;

  @media (min-width: variables.$tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 57px 0;
  }
}

.main-footer__logo {
  border-bottom: 1px solid variables.$color-border-third;

  @media (min-width: variables.$tablet-width) {
    border: none;
  }
}

.main-footer__social {
  display: block;
  margin: 0 auto;
  border-bottom: 1px solid variables.$color-border-third;

  @media (min-width: variables.$tablet-width) {
    border: none;
  }
}
