@use "../variables.scss";

.page-form {
  padding: 27px 0 32px;
}

.page-form__title {
  font-family: variables.$font-title;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: variables.$color-title;
  margin: 0;
  margin-left: 20px;
  margin-bottom: 37px;
}

.page-form__description {
  width: 226px;
  font-family: variables.$font-title;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: variables.$color-title;
  margin: 0;
  margin-left: 20px;
  margin-bottom: 39px;
}
