@use "../variables.scss";

.page-form {
  padding: 27px 0 32px;

  @media (min-width: variables.$tablet-width) {
    padding-top: 60px;
  }

  @media (min-width: variables.$desktop-width) {
    padding-top: 70px;
    padding-bottom: 82px;
  }
}

.page-form__title {
  font-family: variables.$font-title;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: variables.$color-title;
  margin: 0;
  padding-left: 20px;
  margin-bottom: 37px;

  @media (min-width: variables.$tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding-left: 0;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 57px;
  }
}

.page-form__description {
  width: 226px;
  font-family: variables.$font-title;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: variables.$color-title;
  margin: 0;
  padding-left: 20px;
  margin-bottom: 39px;

  @media (min-width: variables.$tablet-width) {
    width: 323px;
    font-size: 20px;
    line-height: 30px;
    padding-left: 0;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 65px;
  }
}
