@use "../variables.scss";

.page-catalog {
  padding: 20px;
}

.page-catalog__title {
  font-family: variables.$font-title;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: variables.$color-black;
  margin: 0;
  margin-bottom: 40px;
}
