@use "../variables.scss";

.present {
  color: variables.$color-title-second;
  background-color: variables.$color-background;
  background-image: url("../../img/background/catbag-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
}

.present__description {
  padding-top: 186px;
  margin: 0;
}
