@use "../variables.scss";
@use "../mixins.scss";

.products__list {
  @include mixins.list-style;

  padding-top: 21px;

  @media (min-width: variables.$tablet-width) {
    min-height: 387px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(429px, auto);
    gap: 142px 60px;
  }

  @media (min-width: variables.$desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(431px, auto);
    row-gap: 142px;
    column-gap: 80px;
  }
}

.products__item {
  border-bottom: 1px solid variables.$color-border-eighth;
  padding-bottom: 24px;
  margin-bottom: 20px;

  @media (min-width: variables.$tablet-width) {
    border: 2px solid variables.$color-background-second;
    border-radius: 3px;
    background-color: variables.$color-background-second;
    margin: 0;
  }
}

.products__item:last-child {
  margin-bottom: 13px;

  @media (min-width: variables.$tablet-width) {
    margin: 0;
  }
}
