@use "../variables.scss";

.show-more__subtitle {
  font-family: variables.$font-title;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: variables.$color-gray-6;
}

.show-more__text {
  font-size: 12px;
  line-height: 16px;
  color: variables.$color-gray-2;
  margin: 0;
  margin-bottom: 21px;
}

.show-more__button {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 94px;
}
