@use "../variables.scss";
@use "../mixins.scss";

.social {
  @include mixins.list-style;
  padding: 20px 0;
  background-color: variables.$color-background-second;
  display: flex;
  justify-content: center;
  gap: 53px;
}

.social__link {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    background-color: variables.$color-border;
    width: 29px;
    height: 22px;
    top: 50%;
    transform: translateY(-50%);
  }

  &:hover::after,
  &:focus::after {
    transition: all 0.2s;
    background-color: variables.$color-background;
  }

  &:active::after {
    transition: all 0.2s;
    color: variables.$color-background;
    opacity: 0.3;
  }

  &:focus {
    outline: none;
  }

  &:focus .social__icon {
    color: variables.$color-background;
  }

  &--telegram::after {
    mask-image: url("../img/sprites/stack.svg#icon-telegram");
  }

  &--youtube::after {
    mask-image: url("../img/sprites/stack.svg#icon-youtube");
  }

  &--vkontakte::after {
    mask-image: url("../img/sprites/stack.svg#icon-vk");
  }
}

// .social__icon {
//   width: 29px;
//   height: 22px;
//   color: variables.$color-border;
//   object-fit: fill;

//   &:hover,
//   &:focus {
//     transition: all 0.2s;
//     color: variables.$color-background;
//   }

//   &:active {
//     transition: all 0.2s;
//     color: variables.$color-background;
//     opacity: 0.3;
//   }
// }
