@use "../variables.scss";

.target-card {
  box-sizing: border-box;
  padding: 30px 20px 18px;
  background-color: variables.$color-background-second;
  width: 280px;
}

.target-card__title {
  font-family: variables.$font-title;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
  text-align: center;
}

.target-card__description {
  color: variables.$color-text;
  margin: 0;
  margin-bottom: 38px;
}

.target-card__link {
  font-family: variables.$font-title;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: variables.$color-title;
  text-decoration: none;
}
