@use "../variables.scss";

.works {
  padding: 20px;
}

.works__title {
  font-family: variables.$font-title;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: variables.$color-black;
}

.works__list {
  list-style: none;
  color: variables.$color-gray-2;
}

.works__item {
  padding-bottom: 26px;
}
