@use "../variables.scss";
@use "../mixins.scss";

.works {
  padding: 20px;

  @media (min-width: variables.$tablet-width) {
    padding: 20px 0;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 70px 0 200px;
  }
}

.works__title {
  font-family: variables.$font-title;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: variables.$color-title;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: variables.$tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 180px;
  }
}

.works__list {
  @include mixins.list-style;
  color: variables.$color-text;

  @media (min-width: variables.$tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 37px;
    column-gap: 137px;
  }

  @media (min-width: variables.$desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 94px;
  }
}

.works__item {
  position: relative;
  min-height: 60px;
  margin-bottom: 20px;
  padding-left: 80px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: variables.$color-background;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: variables.$tablet-width) {
      width: 80px;
      height: 80px;
      top: -120px;
    }
  }

  &::after {
    @media (min-width: variables.$tablet-width) {
      content: "";
      position: absolute;
      top: -165px;
      right: 20px;
      z-index: -1;
      font-family: variables.$font-title;
      font-style: normal;
      font-size: 280px;
      line-height: 280px;
      color: variables.$color-background-second;
    }

    @media (min-width: variables.$desktop-width) {
      right: 5px;
    }
  }

  &--nutricion {
    &::before {
      background-image: url("./../img/icon-leaf.svg");
      background-size: 34px 28px;
    }

    &::after {
      @media (min-width: variables.$tablet-width) {
        content: "1";
      }
    }
  }

  &--release {
    &::before {
      background-image: url("./../img/icon-powder.svg");
      background-size: 25px 28px;
    }

    &::after {
      @media (min-width: variables.$tablet-width) {
        content: "2";
      }
    }
  }

  &--mode {
    &::before {
      background-image: url("./../img/icon-eat.svg");
      background-size: 25px 30px;
    }

    &::after {
      @media (min-width: variables.$tablet-width) {
        content: "3";
      }
    }
  }

  &--change {
    &::before {
      background-image: url("./../img/icon-time.svg");
      background-size: 26px 31px;
    }

    &::after {
      @media (min-width: variables.$tablet-width) {
        content: "4";
      }
    }
  }

  @media (min-width: variables.$tablet-width) {
    width: 245px;
    font-size: 16px;
    line-height: 24px;
    padding-left: 0;
    margin-bottom: 180px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 230px;
  }
}
