@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswald/oswaldregular.woff") format("woff"), url("../fonts/oswald/oswaldregular.woff2") format("woff2");
}
@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswald/oswaldmedium.woff") format("woff"), url("../fonts/oswald/oswaldmedium.woff2") format("woff2");
}
@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/lato/Lato-Regular.woff") format("woff"), url("../fonts/lato/Lato-Regular.woff2") format("woff2");
}
body {
  counter-reset: section;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.page__body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page__main {
  flex-grow: 1;
}

.page__container {
  position: relative;
}
@media (min-width: 769px) {
  .page__container {
    width: 708px;
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  .page__container {
    width: 1220px;
    margin: 0 auto;
  }
}

.main-header {
  display: flex;
  flex-direction: column;
}
@media (min-width: 769px) {
  .main-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .main-header {
    padding-top: 53px;
  }
}

.main-header__logo {
  border-bottom: 1px solid #e6e6e6;
}
@media (min-width: 769px) {
  .main-header__logo {
    border: none;
  }
}

.main-header__block {
  display: flex;
  justify-content: space-between;
}

.main-nav {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.main-nav__list {
  display: none;
  background-color: transparent;
}
.main-nav__list--open {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  display: block;
  background-color: #ffffff;
}
@media (min-width: 1440px) {
  .main-nav__list--open {
    background-color: transparent;
  }
}
@media (min-width: 769px) {
  .main-nav__list {
    position: relative;
    display: block;
  }
}

.main-nav__open {
  display: block;
  position: absolute;
  top: -40px;
  right: 20px;
  height: 1.5px;
  width: 24px;
  background-color: #000000;
  border: none;
  cursor: pointer;
}
.main-nav__open::after {
  content: "";
  position: absolute;
  top: -8px;
  right: 0;
  height: 1.5px;
  width: 24px;
  background-color: #000000;
  border: none;
}
.main-nav__open::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -8px;
  height: 1.5px;
  width: 24px;
  background-color: #000000;
  border: none;
}
@media (min-width: 769px) {
  .main-nav__open {
    display: none;
  }
}

.main-nav__close {
  display: block;
  position: absolute;
  top: -40px;
  right: 20px;
  height: 1.5px;
  width: 24px;
  background-color: #000000;
  border: none;
  transform: rotate(45deg);
  cursor: pointer;
}
.main-nav__close::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 1.5px;
  width: 24px;
  background-color: #000000;
  border: none;
  transform: rotate(90deg);
}
@media (min-width: 769px) {
  .main-nav__close {
    display: none;
  }
}

.main-nav__divider {
  display: block;
  position: absolute;
  top: -40px;
  right: 20px;
  height: 1.5px;
  width: 24px;
  background-color: #000000;
  border: none;
  transform: rotate(45deg);
  cursor: pointer;
}
.main-nav__divider::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 1.5px;
  width: 24px;
  background-color: #000000;
  border: none;
  transform: rotate(90deg);
}
@media (min-width: 769px) {
  .main-nav__divider {
    display: none;
  }
}

.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 769px) {
  .site-list {
    display: flex;
    gap: 34px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .site-list {
    font-size: 20px;
    line-height: 30px;
  }
}

.site-list__item {
  text-decoration: none;
  border-bottom: 1px solid #e6e6e6;
}
@media (min-width: 769px) {
  .site-list__item {
    border: none;
  }
}

.site-list__link {
  display: block;
  text-decoration: none;
  color: #000000;
  padding: 22px 0;
}
@media (min-width: 1440px) {
  .site-list__link--index {
    color: #ffffff;
  }
}
@media (min-width: 769px) {
  .site-list__link--index-active {
    border-bottom: 2px solid #68b738;
  }
}
@media (min-width: 1440px) {
  .site-list__link--index-active {
    border-bottom: 2px solid #ffffff;
  }
}
@media (min-width: 769px) {
  .site-list__link--active {
    border-bottom: 2px solid #68b738;
  }
}
@media (min-width: 769px) {
  .site-list__link {
    padding: 10px 0;
  }
}
@media (min-width: 769px) {
  .site-list__link:hover {
    transition: all 0.2s;
    opacity: 0.6;
  }
}
@media (min-width: 769px) {
  .site-list__link:active {
    transition: all 0.2s;
    opacity: 0.3;
  }
}

.promo {
  position: relative;
  padding: 27px 20px;
  color: #ffffff;
  background-image: url("../img/background/promo-mobile.jpg"), linear-gradient(#68b738, #68b738);
  background-size: auto 302px;
  background-position: top;
  background-repeat: no-repeat;
  text-align: center;
}
@media (min-resolution: 2dppx) {
  .promo {
    background-image: url("../img/background/promo-mobile@2x.jpg"), linear-gradient(#68b738, #68b738);
  }
}
@media (min-width: 769px) {
  .promo {
    background-image: none;
    color: #000000;
    padding: 0;
    padding-top: 64px;
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .promo {
    min-height: 560px;
    padding-top: 111px;
  }
}
@media (min-width: 1440px) {
  .promo::before {
    content: "";
    position: absolute;
    min-width: 720px;
    width: 50%;
    height: 694px;
    right: 0;
    top: -105px;
    z-index: -1;
    background-image: url("../img/background/promo.jpg");
    background-size: 100% auto;
  }
}
@media (min-width: 1440px) and (min-resolution: 2dppx) {
  .promo::before {
    background-image: url("../img/background//promo@2x.jpg");
  }
}

.promo__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 25px;
}
@media (min-width: 769px) {
  .promo__title {
    width: 420px;
    font-size: 60px;
    line-height: 60px;
    padding-left: 90px;
    margin-bottom: 40px;
  }
}

.promo__text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}
@media (min-width: 769px) {
  .promo__text {
    font-size: 20px;
    line-height: 20px;
    padding-left: 90px;
    margin-bottom: 20px;
  }
}

.promo__image {
  width: 280px;
  height: 270px;
}
@media (min-width: 769px) {
  .promo__image {
    width: 709px;
    height: 609px;
  }
}
@media (min-width: 1440px) {
  .promo__image {
    position: absolute;
    top: -80px;
    left: 450px;
    display: block;
    width: 552px;
    height: 499px;
    margin: 0 auto;
  }
}

.promo__button {
  display: block;
  padding: 7px;
  box-sizing: border-box;
}
@media (min-width: 769px) {
  .promo__button {
    width: 244px;
    position: absolute;
    top: 230px;
    left: 90px;
  }
}
.promo__button:hover {
  transition: all 0.2s;
  background-color: #5eaa2f;
}
.promo__button:active {
  transition: all 0.2s;
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}

.button {
  color: #ffffff;
  background-color: #68b738;
  border: none;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
}
.button--more {
  color: #444444;
  background-color: #f2f2f2;
}
.button--choose {
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 769px) {
  .button--choose {
    font-size: 20px;
    line-height: 20px;
    padding: 17px 10px;
  }
}

@media (min-width: 1440px) {
  .target {
    display: flex;
    gap: 80px;
  }
}

.target__item {
  width: 100%;
  height: 100%;
}

.target__item:not(:last-child) {
  margin-bottom: 20px;
}

.target {
  padding: 0 20px;
}
@media (min-width: 769px) {
  .target {
    padding: 0;
  }
}

.target-card {
  box-sizing: border-box;
  padding: 30px 20px 18px;
  background-color: #f2f2f2;
}
@media (min-width: 769px) {
  .target-card {
    padding-bottom: 57px;
  }
}
@media (min-width: 1440px) {
  .target-card {
    padding-top: 70px;
  }
}

.target-card__title {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
  padding-left: 70px;
}
.target-card__title::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68b738;
}
@media (min-width: 769px) {
  .target-card__title::before {
    top: 0;
    left: 400px;
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 1440px) {
  .target-card__title::before {
    top: -35px;
    left: 0;
    width: 100px;
    height: 100px;
  }
}
.target-card__title::after {
  content: "";
  position: absolute;
  top: -12px;
  left: 5px;
  width: 36px;
  height: 50px;
  background-image: url("./../img/cat-slim.svg");
  background-repeat: no-repeat;
}
@media (min-width: 769px) {
  .target-card__title::after {
    top: 0;
    left: 435px;
    width: 140px;
    height: 194px;
    background-size: 140px 194px;
  }
}
@media (min-width: 1440px) {
  .target-card__title::after {
    top: -40px;
    left: 15px;
    width: 70px;
    height: 97px;
    background-size: 70px 97px;
  }
}
.target-card__title--pro::after {
  top: 5px;
  left: -10px;
  width: 68px;
  height: 28px;
  background-image: url("./../img/cat-pro.svg");
}
@media (min-width: 769px) {
  .target-card__title--pro::after {
    top: 52px;
    left: 370px;
    width: 268px;
    height: 112px;
    background-size: 268px 112px;
  }
}
@media (min-width: 1440px) {
  .target-card__title--pro::after {
    top: -15px;
    left: -20px;
    width: 134px;
    height: 56px;
    background-size: 134px 56px;
  }
}
@media (min-width: 769px) {
  .target-card__title {
    font-size: 36px;
    line-height: 36px;
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .target-card__title {
    text-align: center;
    margin-bottom: 60px;
  }
}

.target-card__description {
  color: #444444;
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 769px) {
  .target-card__description {
    border-bottom: none;
    width: 340px;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .target-card__description {
    width: 457px;
  }
}

.target-card__link {
  position: relative;
  display: block;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  margin-top: 19px;
}
.target-card__link::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 100px;
  width: 24px;
  height: 12px;
  background-image: url("./../img/icon-arrow.svg");
  background-size: 18px 12px;
  background-repeat: no-repeat;
}
.target-card__link:hover::after {
  transition: all 0.2s;
  background-size: 24px 12px;
}
.target-card__link:active::after {
  transition: all 0.2s;
  background-size: 24px 12px;
  opacity: 0.3;
}
.target-card__link:active {
  transition: all 0.2s;
  opacity: 0.3;
}

.works {
  padding: 20px;
}
@media (min-width: 769px) {
  .works {
    padding: 20px 0;
  }
}
@media (min-width: 1440px) {
  .works {
    padding: 70px 0 200px;
  }
}

.works__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
}
@media (min-width: 769px) {
  .works__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 180px;
  }
}

.works__list {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #444444;
}
@media (min-width: 769px) {
  .works__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 37px;
    column-gap: 137px;
  }
}
@media (min-width: 1440px) {
  .works__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 94px;
  }
}

.works__item {
  position: relative;
  min-height: 60px;
  margin-bottom: 20px;
  padding-left: 80px;
}
.works__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 769px) {
  .works__item::before {
    width: 80px;
    height: 80px;
    top: -120px;
  }
}
@media (min-width: 769px) {
  .works__item::after {
    counter-increment: section;
    content: counter(section);
    position: absolute;
    top: -165px;
    right: 20px;
    z-index: -1;
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
  }
}
@media (min-width: 1440px) {
  .works__item::after {
    right: 5px;
  }
}
.works__item--nutricion::before {
  background-image: url("./../img/icon-leaf.svg");
  background-size: 34px 28px;
}
.works__item--release::before {
  background-image: url("./../img/icon-powder.svg");
  background-size: 25px 28px;
}
.works__item--mode::before {
  background-image: url("./../img/icon-eat.svg");
  background-size: 25px 30px;
}
.works__item--change::before {
  background-image: url("./../img/icon-time.svg");
  background-size: 26px 31px;
}
@media (min-width: 769px) {
  .works__item {
    width: 245px;
    font-size: 16px;
    line-height: 24px;
    padding-left: 0;
    margin-bottom: 180px;
  }
}
@media (min-width: 1440px) {
  .works__item {
    width: 230px;
  }
}

.example {
  padding: 25px 20px 40px;
  background-color: #eaeaea;
}
@media (min-width: 769px) {
  .example {
    background-image: linear-gradient(#ffffff 54%, #eaeaea 54%);
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .example {
    background-image: none;
  }
}

@media (min-width: 1440px) {
  .example__block {
    display: flex;
  }
}

@media (min-width: 1440px) {
  .example__case {
    width: 50%;
  }
}

@media (min-width: 1440px) {
  .example__slider {
    width: 50%;
  }
}

.case {
  padding: 0;
}
@media (min-width: 769px) {
  .case {
    background-color: #ffffff;
    padding-bottom: 150px;
  }
}
@media (min-width: 1440px) {
  .case {
    background-color: #eaeaea;
    padding-bottom: 75px;
  }
}

.case__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
}
@media (min-width: 769px) {
  .case__title {
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1440px) {
  .case__title {
    position: relative;
    top: -180px;
  }
}

.case__description {
  color: #444444;
  margin: 0;
  margin-bottom: 20px;
}
@media (min-width: 769px) {
  .case__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }
}
@media (min-width: 1440px) {
  .case__description {
    width: 436px;
  }
}

@media (min-width: 769px) {
  .case__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .case__wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
  }
}

.case__result {
  margin: 0;
}
@media (min-width: 769px) {
  .case__result {
    margin-bottom: 0;
  }
}

.case__total {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}
@media (min-width: 769px) {
  .case__total {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 9px;
    font-size: 20px;
  }
}
@media (min-width: 1440px) {
  .case__total {
    flex-direction: row;
    gap: 50px;
  }
}

.result {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 32px;
}

.result__border {
  width: 124px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  text-align: center;
  margin-bottom: 40px;
}
@media (min-width: 769px) {
  .result__border {
    width: 162px;
  }
}

.result__block {
  position: relative;
  top: 20px;
}
@media (min-width: 769px) {
  .result__block {
    top: 7px;
  }
}

.result__value {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
}
@media (min-width: 769px) {
  .result__value {
    font-size: 30px;
    line-height: 37px;
  }
}

.result__annotation {
  display: inline-block;
  width: 60px;
  color: #444444;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  margin: 0;
  padding: 0 15px;
  background-color: #eaeaea;
}
@media (min-width: 769px) {
  .result__annotation {
    display: inline;
    padding: 0 10px;
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
  }
}
@media (min-width: 1440px) {
  .result__annotation {
    background-color: #eaeaea;
  }
}

.slider {
  position: relative;
}
@media (min-width: 1440px) {
  .slider {
    background-color: #eaeaea;
  }
}

.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: flex;
  text-align: center;
  margin: 0 auto;
  width: 280px;
  height: 260px;
}
@media (min-width: 769px) {
  .slider__list {
    bottom: 100px;
    width: 560px;
    height: 512px;
  }
}
@media (min-width: 1440px) {
  .slider__list {
    bottom: 150px;
    right: 0;
  }
}

.slider__item {
  position: relative;
  width: 50%;
  overflow: hidden;
}

.slider__swiper {
  position: absolute;
  z-index: 1;
  text-align: center;
  width: 4px;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  border-radius: 2px;
  background-color: #666666;
  cursor: pointer;
}
.slider__swiper::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background: #ffffff;
  border: 2px solid #666666;
  border-radius: 50%;
  cursor: pointer;
}
.slider__swiper::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 18px;
  background-image: url("./../img/arrows.svg");
  cursor: pointer;
}
@media (min-width: 769px) {
  .slider__swiper {
    top: -100px;
  }
}
@media (min-width: 1440px) {
  .slider__swiper {
    top: -150px;
  }
}
.slider__swiper:hover {
  transition: all 0.2s;
  background-color: #68b738;
}
.slider__swiper:hover::before {
  transition: all 0.2s;
  border: 2px solid #68b738;
}
.slider__swiper:hover::after {
  transition: all 0.2s;
  background-image: url("./../img/arrows-hover.svg");
}
.slider__swiper:active {
  transition: all 0.2s;
  opacity: 0.6;
}

.slider__before {
  width: 280px;
  max-width: none;
  height: auto;
}
@media (min-width: 769px) {
  .slider__before {
    width: 560px;
  }
}

.slider__after {
  width: 280px;
  max-width: none;
  height: 100%;
  transform: translateX(-50%);
}
@media (min-width: 769px) {
  .slider__after {
    width: 560px;
  }
}

.contacts {
  position: relative;
  background-color: #ffffff;
}
.contacts--inner {
  background-color: #f2f2f2;
}

.contacts__data {
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;
}
.contacts__data--background {
  background-color: #f2f2f2;
}
@media (min-width: 769px) {
  .contacts__data {
    padding: 60px 70px;
  }
}
@media (min-width: 1440px) {
  .contacts__data {
    position: absolute;
    top: 95px;
    box-sizing: border-box;
    width: 565px;
    height: 198px;
    background-color: #ffffff;
  }
}

.contacts__invite {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  width: 50%;
}
@media (min-width: 769px) {
  .contacts__invite {
    width: 171px;
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  width: 50%;
  color: #444444;
  line-height: 20px;
  margin: 0;
}
@media (min-width: 769px) {
  .contacts__address {
    width: 160px;
    font-size: 16px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.contacts__map {
  display: block;
  border: none;
  width: 100%;
  height: 362px;
}
@media (min-width: 769px) {
  .contacts__map {
    height: 400px;
  }
}

.main-footer {
  background-color: #f2f2f2;
}

.main-footer__wrapper {
  padding: 0 20px;
}
@media (min-width: 769px) {
  .main-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
}

.main-footer__logo {
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 769px) {
  .main-footer__logo {
    border: none;
  }
}

.main-footer__social {
  display: block;
  margin: 0 auto;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 769px) {
  .main-footer__social {
    border: none;
  }
}

.social {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 20px 0;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social__link:focus {
  outline: none;
}
.social__link:focus .social__icon {
  color: #68b738;
}

.social__icon {
  width: 29px;
  height: 22px;
  color: #666666;
}
.social__icon:hover, .social__icon:focus {
  transition: all 0.2s;
  color: #68b738;
}
.social__icon:active {
  transition: all 0.2s;
  color: #68b738;
  opacity: 0.3;
}

.developer {
  padding: 20px 0 30px;
  background-color: #f2f2f2;
}
@media (min-width: 769px) {
  .developer {
    padding: 0;
    gap: 27px;
  }
}

.developer__link {
  font-size: 16px;
  line-height: 19px;
  color: #444444;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 27px;
}
.developer__link:hover .developer__image, .developer__link:focus .developer__image {
  transition: all 0.2s;
  color: #68b738;
}
.developer__link:active .developer__image {
  transition: all 0.2s;
  color: #68b738;
  opacity: 0.3;
}
.developer__link:focus {
  outline: none;
}
.developer__link:focus .social__icon {
  color: #68b738;
}

.developer__image {
  width: 27px;
  height: 34px;
  color: #666666;
}

.page-form {
  padding: 27px 0 32px;
}
@media (min-width: 769px) {
  .page-form {
    padding-top: 60px;
  }
}
@media (min-width: 1440px) {
  .page-form {
    padding-bottom: 82px;
  }
}

.page-form__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  padding-left: 20px;
  margin-bottom: 37px;
}
@media (min-width: 769px) {
  .page-form__title {
    font-size: 60px;
    line-height: 60px;
    padding-left: 0;
  }
}

.page-form__description {
  width: 226px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding-left: 20px;
  margin-bottom: 39px;
}
@media (min-width: 769px) {
  .page-form__description {
    width: 323px;
    font-size: 20px;
    line-height: 30px;
    padding-left: 0;
  }
}

@media (min-width: 1440px) {
  .form {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 80px;
  }
}

@media (min-width: 1440px) {
  .form__data {
    display: flex;
    gap: 80px;
    height: 200px;
    margin-bottom: 70px;
  }
}

.form__submit {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
  display: grid;
}
@media (min-width: 769px) {
  .form__submit {
    width: 100%;
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 60px;
  }
}
@media (min-width: 1440px) {
  .form__submit {
    grid-column: 1/3;
  }
}

.form__button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 21px;
}
@media (min-width: 769px) {
  .form__button {
    margin: 0;
  }
}
.form__button:hover {
  transition: all 0.2s;
  background-color: #5eaa2f;
}
.form__button:active {
  transition: all 0.2s;
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}

.form__field {
  position: relative;
  border: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 769px) {
  .form__field--about {
    padding: 0;
    margin-bottom: 50px;
  }
}
@media (min-width: 1440px) {
  .form__field--about {
    width: 50%;
  }
}
.form__field--target {
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  padding: 20px 0;
  margin-bottom: 26px;
}
@media (min-width: 769px) {
  .form__field--target {
    border: 2px solid #f2f2f2;
    margin-bottom: 70px;
  }
}
@media (min-width: 1440px) {
  .form__field--target {
    width: 50%;
    padding: 25px 0;
    min-height: 200px;
    box-sizing: border-box;
  }
}
.form__field--data::before {
  content: "";
  position: absolute;
  height: 2px;
  left: 220px;
  right: 0;
  top: 55px;
  background-color: #68b738;
  z-index: 1;
}
@media (min-width: 769px) {
  .form__field--data::before {
    left: 0;
    right: 0;
    top: 35px;
  }
}
@media (min-width: 1440px) {
  .form__field--data::before {
    left: 0;
    top: 18px;
  }
}
.form__field--comment::before {
  content: "";
  position: absolute;
  height: 2px;
  left: 160px;
  right: 0;
  top: 55px;
  background-color: #68b738;
  z-index: 1;
}
@media (min-width: 769px) {
  .form__field--comment::before {
    left: 0;
    right: 0;
    top: 35px;
  }
}
@media (min-width: 1440px) {
  .form__field--comment::before {
    left: 0;
    top: 18px;
  }
}
.form__field--additional::before {
  content: "";
  position: absolute;
  height: 2px;
  left: 180px;
  right: 0;
  top: 55px;
  background-color: #68b738;
  z-index: 1;
}
@media (min-width: 769px) {
  .form__field--additional::before {
    left: 0;
    right: 0;
    top: 35px;
  }
}
@media (min-width: 1440px) {
  .form__field--additional::before {
    left: 0;
    top: 18px;
  }
}

.form__remark {
  margin: 0;
}

.field-group {
  padding: 20px;
}
@media (min-width: 769px) {
  .field-group {
    padding: 20px 0;
  }
}
@media (min-width: 1440px) {
  .field-group {
    padding: 0;
  }
}

.field-group__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-auto-rows: minmax(50px, auto);
  box-sizing: border-box;
}
@media (min-width: 1440px) {
  .field-group__list--contacts {
    margin: 0;
    margin-bottom: 67px;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    align-items: center;
  }
}
@media (min-width: 769px) {
  .field-group__list--additional {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1440px) {
  .field-group__list--additional {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    margin-bottom: 74px;
  }
}
@media (min-width: 1440px) {
  .field-group__list--data {
    row-gap: 25px;
  }
}
@media (min-width: 769px) {
  .field-group__list--target {
    padding: 0 40px;
  }
}
@media (min-width: 1440px) {
  .field-group__list--target {
    row-gap: 0;
    margin-top: 25px;
    padding: 0 40px;
  }
}

.field-group__icon {
  position: absolute;
  right: 20px;
  width: 20px;
  height: 20px;
  color: #000000;
}

.field-group__item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
@media (min-width: 769px) {
  .field-group__item {
    margin-bottom: 20px;
  }
}
@media (min-width: 1440px) {
  .field-group__item {
    margin: 0;
  }
}
@media (min-width: 769px) {
  .field-group__item--advice {
    margin-bottom: 0;
  }
}

.field-group__description {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  white-space: nowrap;
  color: #444444;
  margin-right: 13px;
}
@media (min-width: 769px) {
  .field-group__description {
    font-size: 20px;
    line-height: 30px;
  }
}

.field-group__input {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  padding: 14px 20px;
  width: 100%;
  border: 1px solid #e7e7e7;
}
.field-group__input:hover {
  transition: all 0.2s;
  border: 1px solid #cdcdcd;
}
.field-group__input:focus {
  transition: all 0.2s;
  outline: 2px solid #444444;
}
.field-group__input:focus + .field-group__icon {
  transition: all 0.2s;
  color: #68b738;
}
@media (min-width: 769px) {
  .field-group__input {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1440px) {
  .field-group__input {
    padding: 8px 20px;
  }
}
.field-group__input--textarea {
  display: block;
  box-sizing: border-box;
  padding: 9px 15px;
  resize: none;
  width: 100%;
  min-height: 150px;
  margin: 0 auto;
}
@media (min-width: 769px) {
  .field-group__input--textarea {
    min-height: 174px;
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1440px) {
  .field-group__input--textarea {
    margin-bottom: 67px;
  }
}

.field-group__title {
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 35px;
  background-color: #ffffff;
  width: 190px;
}
@media (min-width: 769px) {
  .field-group__title--data {
    width: 514px;
  }
}
@media (min-width: 769px) {
  .field-group__title--comment {
    width: 182px;
  }
}
@media (min-width: 769px) {
  .field-group__title--additional {
    width: 211px;
  }
}
@media (min-width: 769px) {
  .field-group__title {
    position: relative;
    z-index: 2;
    font-size: 36px;
    padding: 0 40px;
    margin: 0;
    margin-bottom: 75px;
    transform: translateX(-40px);
  }
}

.control {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}
@media (min-width: 769px) {
  .control {
    font-size: 20px;
    line-height: 30px;
  }
}

.control__radio {
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  cursor: pointer;
}
.control__radio:hover {
  transition: all 0.2s;
  border: 1px solid #bababa;
}
@media (min-width: 769px) {
  .control__radio {
    top: -6px;
    left: -13px;
    width: 40px;
    height: 40px;
  }
}

.control__checkbox {
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  cursor: pointer;
}
.control__checkbox:hover {
  transition: all 0.2s;
  border: 1px solid #bababa;
}
@media (min-width: 769px) {
  .control__checkbox {
    top: 0;
  }
}

.control__input[type=radio]:checked + .control__radio::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 9px;
  transform: translateY(-50%);
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;
}
@media (min-width: 769px) {
  .control__input[type=radio]:checked + .control__radio::before {
    width: 18px;
    height: 18px;
    left: 12px;
  }
}

.control__input[type=radio]:disabled + .control__radio,
.control__input[type=radio]:disabled:hover + .control__radio {
  border: 1px solid #bababa;
  opacity: 0.3;
}

.control__input[type=checkbox]:checked + .control__checkbox::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url("./../img/icon-tick.svg");
  background-size: 30px 30px;
}

.control__input[type=checkbox]:disabled + .control__checkbox,
.control__input[type=checkbox]:disabled:hover + .control__checkbox {
  border: 1px solid #bababa;
  opacity: 0.3;
}

.page-catalog {
  padding: 27px 0 35px;
}
@media (min-width: 769px) {
  .page-catalog {
    padding-top: 65px;
  }
}
@media (min-width: 1440px) {
  .page-catalog {
    padding-bottom: 0;
  }
}

.page-catalog__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  padding: 0 20px;
  margin: 0;
  margin-bottom: 40px;
}
@media (min-width: 769px) {
  .page-catalog__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 160px;
  }
}

.products__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 769px) {
  .products__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(429px, auto);
    gap: 140px 60px;
  }
}
@media (min-width: 1440px) {
  .products__list {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(431px, auto);
    gap: 80px;
  }
}

.products__item {
  border-bottom: 1px solid #ebebeb;
}
@media (min-width: 769px) {
  .products__item {
    border: 2px solid #f2f2f2;
    border-radius: 3px;
    background-color: #f2f2f2;
  }
}

.card {
  padding: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr minmax(40px, auto);
}
@media (min-width: 769px) {
  .card {
    height: 430px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr minmax(70px, auto) 1fr minmax(40px, auto);
    padding: 0;
    padding-bottom: 40px;
  }
}

.card__link {
  text-decoration: none;
}
.card__link--image {
  grid-column: 1/2;
  grid-row: 1/3;
  justify-self: center;
  align-self: center;
}
@media (min-width: 769px) {
  .card__link--image {
    position: relative;
    top: -50px;
    grid-column: 1;
    grid-row: 1/2;
  }
}
.card__link--subtitle {
  grid-column: 2/3;
  grid-row: 1/2;
}
@media (min-width: 769px) {
  .card__link--subtitle {
    grid-column: 1;
    grid-row: 2/3;
    text-align: center;
  }
}

.card__subtitle {
  width: 76px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
}
@media (min-width: 769px) {
  .card__subtitle {
    width: 150px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 24px;
  }
}

.card__description {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  padding-right: 20px;
  margin: 0;
  margin-bottom: 10px;
  grid-column: 2/3;
  grid-row: 2/3;
}
@media (min-width: 769px) {
  .card__description {
    width: 250px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 16px;
    grid-column: 1;
    grid-row: 3/4;
  }
}
@media (min-width: 1440px) {
  .card__description {
    width: 180px;
  }
}

.card__block {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 769px) {
  .card__block {
    padding: 7px 0;
    border-bottom: 1px solid #cdcdcd;
  }
}

.card__definition {
  margin: 0;
  padding: 0;
}

.card__value {
  margin: 0;
  padding: 0;
}

.card__button {
  display: inline-block;
  margin: 0 20px;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 109px;
  grid-column: 1/3;
  grid-row: 3/4;
}
@media (min-width: 769px) {
  .card__button {
    box-sizing: border-box;
    width: 248px;
    margin: 0 auto;
    padding: 10px;
    grid-column: 1;
    grid-row: 4/5;
  }
}
@media (min-width: 1440px) {
  .card__button {
    width: 168px;
  }
}
.card__button:hover {
  transition: all 0.2s;
  background-color: #5eaa2f;
}
.card__button:active {
  transition: all 0.2s;
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}

.show-more {
  padding: 80px 0 25px;
  text-align: center;
  background-color: #ffffff;
}
@media (min-width: 769px) {
  .show-more {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
  }
}

.show-more__subtitle {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  margin-bottom: 8px;
}
@media (min-width: 769px) {
  .show-more__subtitle {
    width: 134px;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 23px;
  }
}

.show-more__text {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin: 0;
  margin-bottom: 21px;
}
@media (min-width: 769px) {
  .show-more__text {
    width: 165px;
    font-size: 16px;
    line-height: 18px;
  }
}

.show-more__button {
  display: block;
  padding: 10px;
  margin: 0 20px;
}
@media (min-width: 769px) {
  .show-more__button {
    margin-top: auto;
    width: 248px;
  }
}
@media (min-width: 1440px) {
  .show-more__button {
    width: 168px;
  }
}
.show-more__button:hover {
  transition: all 0.2s;
  background-color: #ebebeb;
}
.show-more__button:active {
  transition: all 0.2s;
  background-color: #ebebeb;
  color: rgba(0, 0, 0, 0.3);
}

.show-more__plus {
  position: relative;
  width: 30px;
  height: 2px;
  margin: 0 auto;
  margin-bottom: 80px;
  background-color: #d3d3d3;
}
@media (min-width: 769px) {
  .show-more__plus {
    width: 60px;
  }
}
.show-more__plus::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  margin: 0 auto;
  background-color: #d3d3d3;
  transform: translateX(-50%) rotate(90deg);
}
@media (min-width: 769px) {
  .show-more__plus::before {
    width: 60px;
  }
}

.additional {
  position: relative;
  padding: 25px 0 0;
}
.additional::before {
  content: "";
  position: absolute;
  height: 2px;
  left: 265px;
  right: 0;
  top: 40px;
  background-color: #68b738;
}
@media (min-width: 769px) {
  .additional::before {
    left: 0;
    top: 80px;
  }
}
@media (min-width: 769px) {
  .additional {
    padding-top: 60px;
  }
}
@media (min-width: 1440px) {
  .additional {
    padding-bottom: 80px;
  }
}

@media (min-width: 1440px) {
  .additional__block {
    display: grid;
    grid-template-columns: 1fr 245px;
    gap: 80px;
  }
}

.additional__present {
  position: relative;
  margin: 0 20px;
  min-height: 289px;
}
.additional__present::before {
  content: "";
  position: absolute;
  top: 58px;
  left: 50%;
  transform: translateX(-50%);
  width: 78px;
  height: 80px;
  background-image: url("./../img/icon_gift.svg");
}
@media (min-width: 769px) {
  .additional__present::before {
    top: 50%;
    transform: translateY(-50%);
    left: 77px;
  }
}
@media (min-width: 1440px) {
  .additional__present::before {
    grid-column: 2/3;
    top: 58px;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (min-width: 769px) {
  .additional__present {
    min-height: 200px;
    margin: 0;
  }
}

.additional__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  margin-bottom: 36px;
  padding: 0 20px;
}
@media (min-width: 769px) {
  .additional__title {
    width: 345px;
    background-color: #ffffff;
    font-size: 36px;
    line-height: 36px;
    padding: 0 40px;
  }
}
@media (min-width: 1440px) {
  .additional__title {
    position: relative;
    left: -40px;
    margin: 0;
  }
}

.additional__list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 0 20px;
  margin-bottom: 40px;
}
@media (min-width: 769px) {
  .additional__list {
    border: 2px solid #f2f2f2;
    border-radius: 3px;
    padding: 0;
    padding-bottom: 10px;
  }
}
@media (min-width: 1440px) {
  .additional__list {
    grid-column: 1/2;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    border: none;
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
  }
}

.additional__item {
  margin-bottom: 19px;
  padding-bottom: 20px;
  border-bottom: 1px solid #cdcdcd;
}
.additional__item:first-child {
  padding-top: 20px;
  border-top: 1px solid #cdcdcd;
}
@media (min-width: 769px) {
  .additional__item:first-child {
    border: none;
  }
}
@media (min-width: 1440px) {
  .additional__item:first-child {
    padding-top: 0;
  }
}
@media (min-width: 769px) {
  .additional__item:not(:last-child) {
    padding-bottom: 28px;
    border-bottom: 2px solid #f2f2f2;
  }
}
@media (min-width: 1440px) {
  .additional__item:not(:last-child) {
    padding: 10px 0;
  }
}
@media (min-width: 769px) {
  .additional__item {
    padding: 0;
    border: none;
  }
}
@media (min-width: 1440px) {
  .additional__item {
    margin: 0;
    padding: 10px 0;
  }
}

.additional__button {
  margin-bottom: 19px;
}
@media (min-width: 1440px) {
  .additional__button {
    margin: 0;
  }
}

@media (min-width: 769px) {
  .card-additional {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr minmax(40px, auto);
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .card-additional {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(40px, auto);
    align-items: center;
  }
}

.card-additional__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;
}
@media (min-width: 769px) {
  .card-additional__title {
    margin-left: 40px;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .card-additional__title {
    margin: 0;
  }
}

.card-additional__block {
  display: flex;
  justify-content: space-between;
  line-height: 14px;
  color: #444444;
  padding: 13px 0 15px;
}
@media (min-width: 769px) {
  .card-additional__block {
    margin-right: 40px;
    font-size: 16px;
    line-height: 20px;
    justify-content: end;
    gap: 50px;
  }
}
@media (min-width: 1440px) {
  .card-additional__block {
    margin: 0;
  }
}

.card-additional__button {
  box-sizing: border-box;
  display: block;
  padding: 10px;
}
@media (min-width: 769px) {
  .card-additional__button {
    grid-column: 1/3;
    width: 244px;
    margin: 0 40px;
  }
}
@media (min-width: 1440px) {
  .card-additional__button {
    grid-column: 3/4;
    margin: 0;
    margin-left: auto;
  }
}
.card-additional__button:hover {
  transition: all 0.2s;
  background-color: #5eaa2f;
}
.card-additional__button:active {
  transition: all 0.2s;
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}

.card-additional__quantity {
  margin: 0;
}
@media (min-width: 1440px) {
  .card-additional__quantity {
    margin-right: auto;
  }
}

.card-additional__price {
  margin: 0;
}

.present {
  color: #ffffff;
  background-color: #68b738;
  background-image: url("./../img/background/catbag-mobile.jpg");
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
}
@media (min-resolution: 2dppx) {
  .present {
    background-image: url("../img/background/catbag-mobile@2x.jpg");
  }
}
@media (min-width: 769px) {
  .present {
    display: flex;
    align-items: center;
    justify-content: end;
  }
}
@media (min-width: 1440px) {
  .present {
    background-size: auto;
  }
}

.present__description {
  padding-top: 186px;
  margin: 0;
}
@media (min-width: 769px) {
  .present__description {
    padding: 0;
    text-align: left;
    margin-right: 124px;
  }
}
@media (min-width: 1440px) {
  .present__description {
    padding-top: 150px;
    margin: 0 auto;
    text-align: center;
  }
}

.logo {
  display: flex;
  align-items: center;
  padding: 10px 20px 20px;
}
.logo--footer {
  padding-top: 40px;
  justify-content: center;
}
@media (min-width: 769px) {
  .logo {
    padding: 0;
  }
}
.logo:hover {
  transition: all 0.2s;
  opacity: 0.6;
}
.logo:active {
  transition: all 0.2s;
  opacity: 0.3;
}

.logo__image {
  width: 191px;
  height: 37px;
}
@media (min-width: 769px) {
  .logo__image {
    width: 174px;
    height: 51px;
  }
}
@media (min-width: 1440px) {
  .logo__image {
    width: 202px;
    height: 59px;
  }
}
@media (min-width: 769px) {
  .logo__image--footer {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */