// Шрифты
$font-title: "Oswald", sans-serif;
$font-body: "Lato", sans-serif;

// Цвета
$color-background: #68b738;
$color-background-second: #f2f2f2;
$color-background-third: #eaeaea;
$color-title: #000000;
$color-title-second: #ffffff;
$color-subtitle: #222222;
$color-subtitle-second: #111111;
$color-text: #444444;
$color-border: #666666;
$color-border-second: #e6e6e6;
$color-border-third: #d9d9d9;
$color-border-fifth: #cdcdcd;


// Viewports
$tablet-width: 769px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
