// Шрифты
$font-title: "Oswald", sans-serif;
$font-body: "Lato", sans-serif;

// Цвета
$color-background: #68b738;
$color-black: #000000;
$color-white: #ffffff;
$color-gray-1: #f2f2f2;
$color-gray-2: #444444;
$color-gray-3: #eaeaea;
$color-gray-4: #666666;
$color-gray-5: #222222;
$color-gray-6: #111111;
